name: Deploy Glue Job

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Debug folder structure
        run: ls -R

      - name: Zip Glue Job
        run: |
          cd src
          zip -r ../hv_pipeline.zip . \
            -x "__pycache__/*" \
            -x "*.pyc"

      - name: Upload to S3
        run: |
          aws s3 cp hv_pipeline.zip s3://hv-challenge/scripts/hv_pipeline.zip
